---
import { getCldImageUrl } from "astro-cloudinary/helpers";
import ParallaxListComponent from "./list.tsx";

const works = [
	{
		title: "BBVA Headquarters",
		description: "Madrid, Spain",
		image: getCldImageUrl({ src: "bbva_mkmupf", width: 900 }),
	},
	{
		title: "Cedrus Residential",
		description: "Tehran, Iran",
		image: getCldImageUrl({ src: "cedrus-residential_rdpmyb", width: 900 }),
	},
	{
		title: "International Convention Centre",
		description: "Sydney, Australia",
		image: getCldImageUrl({ src: "icc-sydney_daohjj", width: 900 }),
	},
	{
		title: "John Cranko School",
		description: "Stuttgart, Germany",
		image: getCldImageUrl({ src: "john-cranko-school_xi8wyq", width: 900 }),
	},
	{
		title: "Maersk Tower",
		description: "Copenhagen, Denmark",
		image: getCldImageUrl({ src: "maersk-tower_s5iugf", width: 900 }),
	},
	{
		title: "Mann Island Buildings",
		description: "Liverpool, UK",
		image: getCldImageUrl({ src: "mann-island_qp6iia", width: 900 }),
	},
	{
		title: "Museo Internacional del Barroco",
		description: "Puebla, Mexico",
		image: getCldImageUrl({
			src: "museo-internacional-del-barroco_tnqgu6",
			width: 900,
		}),
	},
	{
		title: "PI59",
		description: "Amsterdam, Netherlands",
		image: getCldImageUrl({ src: "pi59_asuzt7", width: 900 }),
	},
	{
		title: "Royal Danish Library",
		description: "Copenhagen, Denmark",
		image: getCldImageUrl({ src: "royal-danish-library_p6rhwh", width: 900 }),
	},
	{
		title: "Vulkan Building",
		description: "Oslo, Norway",
		image: getCldImageUrl({ src: "vulkan-oslo_j532cm", width: 900 }),
	},
];
---

<head>
	{works.map((w) => <link rel="preload" as="image" href={w.image} />)}
</head>

<div class="bg-base-900 @container h-full w-full overflow-hidden">
	<ParallaxListComponent works={works} client:load />
</div>

<style>
	body {
		overflow: hidden !important;
	}
</style>
