---
import PreviewBlock from "@/components/PreviewBlock.astro";
import ArticleBlock from "@/components/ArticleBlock.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import ScrollArea from "@/components/ScrollArea.astro";
import Sidebar from "@/components/Sidebar";
---

<BaseLayout>
	<ScrollArea class="h-screen w-screen" id="main-scroll">
		<Sidebar client:load scrollAreaId="main-scroll">
			<div
				class="flex w-full max-w-[528px] flex-col overflow-y-auto md:h-screen md:w-max md:max-w-none md:flex-row md:overflow-x-auto md:overflow-y-hidden"
			>
				<PreviewBlock
					title="Test Interaction 1"
					description="Exercitation nisi esse ut enim. Culpa reprehenderit aute sint elit in tempor veniam labore duis. Voluptate ad ipsum eu laboris laboris amet ad ullamco commodo enim sit."
					date="Jan 12, 2024"
					bgImage="https://picsum.photos/800/600?random=1"
					previewImage="https://picsum.photos/400/300?random=2"
					position="top"
					layout="portrait"
					tags={["React", "Motion"]}
				/>
				<ArticleBlock
					title="Creativity arise from restrictions, not despite of them"
					description="Voluptate eiusmod ad irure ullamco est aliquip magna nulla irure commodo do. Culpa et dolore proident laboris eu ipsum Lorem et dolore veniam. Magna Lorem nulla consequat incididunt sint labore exercitation magna ad. Esse Lorem aliqua eu laboris commodo quis. Aliquip irure ea aliquip occaecat ullamco excepteur dolore ullamco ad labore. Quis occaecat aliquip cupidatat proident cupidatat do est do magna aliqua magna laborum quis eu. Consequat consequat dolor incididunt esse anim deserunt nostrud ut sint minim."
					date="Jan 15, 2024"
					link="/"
					position="top"
				/>
				<PreviewBlock
					title="Test Interaction 2"
					description="This is a test description for the preview block component to demonstrate how it looks and functions."
					date="Jan 18, 2024"
					bgImage="https://picsum.photos/800/600?random=3"
					previewImage="https://picsum.photos/400/300?random=4"
					position="bottom"
					layout="portrait"
					tags={["Astro", "GSAP"]}
				/>

				<ArticleBlock
					title="The best way to predict the future is to invent it"
					description="Dolor in irure tempor labore dolore cillum culpa magna minim duis cupidatat amet nisi ullamco. Pariatur ipsum cupidatat aliquip. Nulla amet enim culpa consectetur est ut magna minim veniam sunt nisi elit Lorem sit. Dolor id velit culpa do occaecat Lorem eiusmod enim ea minim consectetur deserunt ut eu."
					date="Jan 20, 2024"
					link="/"
					previewImage="https://picsum.photos/400/300?random=5"
					position="bottom"
				/>
			</div>
		</Sidebar>
	</ScrollArea>
</BaseLayout>
