---
import Counter from "./counter";
---

<div class="flex h-full w-full items-center justify-center">
	<div class="flex flex-col gap-8">
		<h2 class="mb-4 text-center text-2xl font-bold">Clock of Clocks Counter</h2>
		<Counter client:load />
	</div>
</div>
