---
import Header from "@/components/nav/home-header";
import type { FilterType } from "@/lib/content-types";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	scrollAreaId?: string;
	filterCounts: Record<FilterType, number>;
}

const { title, scrollAreaId = "main-scroll", filterCounts } = Astro.props;
---

<BaseLayout title={title}>
	<div class="bg-base-50 flex h-dvh flex-col md:justify-between">
		<Header title="Chayut" filterCounts={filterCounts} client:load />

		<div
			class="overflow-y-auto p-4 md:flex md:max-h-3/4 md:overflow-x-auto md:overflow-y-hidden"
			id="scroll-container"
			data-scroll-area-id={scrollAreaId}
		>
			<div
				class="mx-auto flex max-w-[528px] flex-col md:mx-0 md:max-w-none md:flex-row md:*:pr-4"
			>
				<slot />
			</div>
		</div>
	</div>
</BaseLayout>
