---
import BaseLayout from "./BaseLayout.astro";
import ScrollArea from "@/components/ScrollArea.astro";
import Sidebar from "@/components/Sidebar";

interface Props {
	title: string;
	scrollAreaId?: string;
}

const { title, scrollAreaId = "main-scroll" } = Astro.props;
---

<BaseLayout title={title}>
	<div class="bg-base-50 flex h-screen w-screen flex-col md:flex-row">
		<Sidebar client:load scrollAreaId={scrollAreaId} title={title} />
		<ScrollArea class="h-full flex-1" id={scrollAreaId}>
			<div
				class="mx-auto flex w-full max-w-[528px] flex-col overflow-y-auto md:h-screen md:w-max md:max-w-none md:flex-row md:overflow-x-auto md:overflow-y-hidden"
			>
				<slot />
			</div>
		</ScrollArea>
	</div>
</BaseLayout>

