---
import ProjectHeader from "@/components/nav/project-header";
import BaseLayout from "./BaseLayout.astro";

interface Props {
	title: string;
	description: string;
	createdDate: string;
	lastUpdatedDate: string;
	types: string[];
}

const { title, description } = Astro.props;
---

<BaseLayout title={title}>
	<div class="bg-base-50 flex h-dvh flex-col justify-between">
		<ProjectHeader
			client:load
			projectTitle={title}
			projectDescription={description}
		>
			<slot />
		</ProjectHeader>

		<div
			class="relative z-0 min-h-0 flex-1 overflow-y-auto p-4 md:overflow-x-auto md:overflow-y-hidden"
			id="scroll-container"
		>
			<slot name="interactive">
				<div
					class="bg-base-100 flex h-full items-center justify-center p-0 md:p-4"
				>
					<div class="text-base-500 w-full text-center">
						<h2 class="mb-2 text-2xl font-medium">Interactive Content Area</h2>
						<p class="text-sm">Interactive components will be rendered here</p>
					</div>
				</div>
			</slot>
		</div>
	</div>
</BaseLayout>
